<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="icon" href="{{ @BASE }}/images/favicon.ico">

    <link rel="stylesheet" type="text/css" href="{{ @BASE }}/styles/nav.css">
	<link rel="stylesheet" type="text/css" href="{{ @BASE }}/styles/form.css">
	<link rel="stylesheet" type="text/css" href="{{@BASE}}/styles/state.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Green River Software Development Project Portal</title>
</head>
<body>
    <include href="/views/nav.html">

    <div class="container">
    	<h1 class="pt-4 pb-2 text-center">Projects</h1>

	    <table id="project-table" class="table table-hover">
	    	<thead>
	    		<tr>
	    			<th class="d-none">ID</th>
	    			<th>Project Title</th>
					<th>Project Description</th>
					<th class="d-none">Full Description</th>
	    			<th>Status</th>
	    			<th class="d-none">Client ID</th>
	    			<th class="d-none">Date Modified</th>
	    			<th>Delete</th>
	    		</tr>
	    	</thead>
	    	<tbody>
	    		<repeat group="{{ @projects }}" value="{{ @project }}">
	    			<tr>
		    			<td class="clickableProject d-none" id="projectId">{{ @project['projectID'] }}</td>
		    			<td class="clickableProject">{{ @project['title'] }}</td>
						<td class="clickableProject">{{ (strlen(@project['description']) > 100) ? substr(@project['description'], 0, 100) . '...' : @project['description'] }}</td>
						<td class="clickableProject d-none">{{ @project['description'] }}</td>
		    			<td class="clickableProject {{ @project['status'] }}">{{ ucfirst(@project['status']) }}</td>
		    			<td class="clickableProject d-none">{{ @project['clientID'] }}</td>
		    			<td class="clickableProject d-none">{{ @project['dateModified'] }}</td>
		    			<td width="2%" class="text-center" onclick="confirmDeleteProject({{ @project['projectID'] }}, '{{ @project['title'] }}' )"><i class="fa fa-minus-circle"></span></td>
	    			</tr>
	    		</repeat>
	    	</tbody>
	    </table>
	    <div class="row justify-content-center mt-2">
            <a class="btn gr-btn" href="./new-project" role="button">New Project</a>
	    </div>
    </div>

	<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>

	<script src="./javascripts/route.js"></script>

	<script src="{{ @BASE }}/javascripts/data-table.js"></script>
</body>
</html>
