<nav class="navbar gr-nav">
	<a class="navbar-brandt" href="{{ @BASE }}/">
		<div class="d-none d-md-inline">
			<img class="gr-logo d-inline" src="{{ @BASE}}/images/logo.png" alt="Green River College">
			<h1 class="d-inline h3 nav-text align-middle">Software Development Portal</h1>
		</div>
		<div class="d-inline d-md-none">
			<h1 class="h5 nav-text align-middle">Software Development Portal</h1>
		</div>
	</a>	
	<ul class="float-right navbar-nav">
		<li class="nav-item">
	        <a class="nav-text btn logout" href="{{ @BASE }}/logout">Logout</a>
      	</li>
	</ul>
</nav>