<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="icon" href="{{ @BASE }}/images/favicon.ico">

    <link rel="stylesheet" type="text/css" href="{{ @BASE }}/styles/nav.css">
    <link rel="stylesheet" type="text/css" href="{{ @BASE }}/styles/form.css">
    <link rel="stylesheet" type="text/css" href="{{ @BASE }}/styles/state.css">
    <link rel="stylesheet" type="text/css" href="{{ @BASE }}/styles/styles.css">

    <title>Green River Software Development Project Portal</title>
</head>
<body>
    <include href="./views/nav.html">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="display-3 text-center">{{ @project->getProjectTitle() }}</h1>
                <p class="text-center h3 gr-text">{{ @course->getCourseNumber() }} | 
                                                    {{ ucfirst(@course->getQuarter()) }} {{ @course->getYear() }} | 
                                                    {{ @course->getInstructor() }}</p>
                <hr>
            </div>
            <div class="col-12">
                <!-- Instructor Notes -->
                <p class="lead">{{ @course->getInstructorNotes() }}</p>
                <hr>
            </div>  
        </div>
        <p class="text-right">
            <a class="btn gr-btn" href="{{ @BASE }}/new-class/{{ @courseId }}" role="button">Edit Course Information</a>
        </p>
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <h2 class="text-center">Links</h2>
                <div class="list-group list-group-flush">
                    <a href="{{ @course->getGitHub() }}" id="GitHubUrl" class="list-group-item list-group-item-action text-center" target="_blank"><strong>Github</strong></a>
                    <a href="{{ @course->getTrello() }}" class="list-group-item list-group-item-action text-center" target="_blank"><strong>Trello</strong></a>
                    <a href="{{ @course->getUrl() }}" class="list-group-item list-group-item-action text-center" target="_blank"><strong>URL</strong></a>
                </div>
                <p class="mt-1">
                    <a class="btn gr-btn" data-toggle="collapse" href="#username_password" role="button" aria-expanded="false" aria-controls="username_password">Show/Hide Username and Password</a>
                </p>
                <div class="collapse" id="username_password">
                    <div class="card-body">
                        <p>Username: <em>{{ @course->getUsername() }}</em><br>
                        Password: <em>{{ @course->getPassword() }}</em></p>
                    </div>
                </div>
            </div> 
            <div class="col-lg-7">
                <h2 class="text-center">GitHub Collaborators</h2>
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Profile</th>
                        </tr>
                    </thead>
                    <tbody id="collabs">
                    </tbody>
                </table>
            </div>    
        </div>
        <p class="text-right">
            <a class="btn gr-btn" href="{{ @BASE }}/project-summary/{{ @projectId }}" role="button">< Back</a>
        </p>

		<include href="/views/footer.html"></include>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script type="text/javascript" src="{{ @BASE }}/javascripts/show-password.js"></script>
    <script type="text/javascript" src="{{ @BASE }}/javascripts/github-collabs.js"></script>
</body>
</html>