<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="icon" href="images/favicon.ico">

    <link rel="stylesheet" type="text/css" href="./styles/nav.css">
    <link rel="stylesheet" type="text/css" href="./styles/form.css">
    <link rel="stylesheet" type="text/css" href="./styles/state.css">
    <link rel="stylesheet" type="text/css" href="./styles/styles.css">

    <title>Green River Software Development Project Portal</title>
</head>
<body>
    <include href="./views/nav.html">
    <div class="container">

        <pre>{{ @course }}</pre>
        <!-- This is a template for the course summary -->
        <!-- If you are viewing this, then you are on a development file! -->
        <!-- This is phony data... -->
        <div class="row">
            <div class="col-12">
                <h1 class="display-3 text-center">{{ @course->getProjectTitle() }}</h1>
                <p class="text-center h3 gr-text">{{ @course->getCourseID() }} | 
                                                    {{ ucfirst(@course->getQuarter()) }} {{ @course->getYear() }} | 
                                                    {{ @course->getInstructor() }}</p>
                <hr>
            </div>
            <div class="col-12">
                <!-- Instructor Notes -->
                <p class="lead">{{ @course->getInstructorNotes() }}</p>
                <hr>
            </div>  
        </div>
        <p class="text-right">
            <a class="btn gr-btn" href="#" role="button">Edit Course Information</a>
        </p>
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <h2 class="text-center">Links</h2>
                <div class="list-group list-group-flush">
                    <a href="{{ @course->getGitHub() }}" class="list-group-item list-group-item-action text-center"><strong>Github</strong></a>
                    <a href="{{ @course->getTrello() }}" class="list-group-item list-group-item-action text-center"><strong>Trello</strong></a>
                    <a href="{{ @course->getUrl() }}" class="list-group-item list-group-item-action text-center"><strong>URL</strong></a>
                </div>
                <p class="mt-1">
                    <a class="btn gr-btn" data-toggle="collapse" href="#username_password" role="button" aria-expanded="false" aria-controls="username_password">Show/Hide Username and Password</a>
                </p>
                <div class="collapse" id="username_password">
                    <div class="card-body">
                        <p>Username: <em>usernAme</em><br>
                        Password: <em>P@ssw0rd!</em></p>
                    </div>
                </div>
            </div> 
            <div class="col-lg-7">
                <h2 class="text-center">Github Collaborators</h2>
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Profile</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>John Doe</td>
                            <td><a href="mailto:johndoe@email.com">johndoe@email.com</a></td>
                            <td><a href="https://github.com/octocat">https://github.com/octocat</a></td>
                        </tr>
                        <tr>
                            <td>John Doe</td>
                            <td><a href="mailto:johndoe@email.com">johndoe@email.com</a></td>
                            <td><a href="https://github.com/octocat">https://github.com/octocat</a></td>
                        </tr>
                        <tr>
                            <td>John Doe</td>
                            <td><a href="mailto:johndoe@email.com">johndoe@email.com</a></td>
                            <td><a href="https://github.com/octocat">https://github.com/octocat</a></td>
                        </tr>
                        <tr>
                            <td>John Doe</td>
                            <td><a href="mailto:johndoe@email.com">johndoe@email.com</a></td>
                            <td><a href="https://github.com/octocat">https://github.com/octocat</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>    
        </div>
        <p class="text-right">
            <a class="btn gr-btn" href="#" role="button">< Back</a>
        </p>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script type="text/javascript" src="./javascripts/show-password.js"></script>
</body>
</html>