<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="icon" href="{{ @BASE }}/images/favicon.ico">

    <link rel="stylesheet" type="text/css" href="{{@BASE}}/styles/nav.css">
    <link rel="stylesheet" type="text/css" href="{{@BASE}}/styles/form.css">
    <link rel="stylesheet" type="text/css" href="{{@BASE}}/styles/state.css">
    <link rel="stylesheet" type="text/css" href="{{@BASE}}/styles/styles.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Green River Software Development Project Portal</title>
</head>
<body>
    <include href="./views/nav.html">

    <div class="container">
        <!-- This is a template for the project summary -->
        <!-- If you are viewing this, then you are on a development file! -->
        <!-- This is phony data... -->
        <div class="row">
            <div class="col-12">
                <h1 class="display-3 text-center">{{ @project->getProjectTitle() }}</h1>
                <hr>
            </div>
            <div class="col-12">
                <!-- Project Description -->
                <p class="lead">{{ @project->getDescription() }}</p>
                <hr>
            </div>
        </div>
        <p class="text-right">
            <span>Status: <strong class="{{ @project->getStatus() }}">{{ ucfirst(@project->getStatus()) }}</strong></span> &nbsp;
            <a class="btn gr-btn" href="{{ @BASE }}/new-project?id={{ @projectID }}" role="button">Edit Project Information</a>
        </p>
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <h2 class="text-center">Organization</h2>
                <table class="table table-sm">
                    <tbody>
                        <tr>
                            <th>Organization</th>
                            <td class="lead">{{ @client->getCompanyName() }}</td>
                        </tr>
                        <tr>
                            <th>Website</th>
                            <td><a href="{{ @client->getWebsite() }}">{{ @client->getWebsite() }}</a></td>
                        </tr>
                        <tr>
                            <th>Address</th>
                            <td>{{ @client->getStreetAddress() }}, {{ @client->getState() }}, {{ @client->getPostalCode() }}</td>
                        </tr>
                    </tbody>
                </table>
            </div> 
            <div class="col-lg-5">
                <h2 class="text-center">Contact</h2>
                <table class="table table-sm">
                    <tbody>
                        <tr>
                            <th>Name</th>
                            <td class="lead">{{ @client->getClientName() }}</td>
                        </tr>
                        <tr>
                            <th>Title</th>
                            <td>{{ @client->getJobTitle() }}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td><a href="mailto:{{ @client->getEmail() }}" target="_top">{{ @client->getEmail() }}</a></td>
                        </tr>
                        <tr>
                            <th>Phone Number</th>
                            <td id="phoneNumber">{{ @client->getPhoneNumber() }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <check if="{{ @currentLinks[0]['github'] != '' || @currentLinks[0]['trello'] != '' || @currentLinks[0]['url'] != '' }}">
                    <h2 class="">Most Current Links:</h2>
                    <check if="{{ @currentLinks[0]['github'] != '' }}">
                        <a href="{{ @currentLinks[0]['github'] }}" class="text-center"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
                    </check>
                    <check if="{{ @currentLinks[0]['trello'] != '' }}"></check>
                        <a href="{{ @currentLinks[0]['trello'] }}"><i class="fa fa-trello fa-2x" aria-hidden="true"></i></a>
                    </check>
                    <check if="{{ @currentLinks[0]['url'] != '' }}"></check>
                        <a href="{{ @currentLinks[0]['url'] }}"><i class="fa fa-desktop fa-2x" aria-hidden="true"></i></a>
                    </check>
                </check>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <h2 class="text-center">Course List</h2>
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th class="d-none" scope="col">ID</th>
                            <th scope="col">Course ID</th>
                            <th scope="col">Quarter</th>
                            <th scope="col">Instructor</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <check if="{{ !empty(@courses) }}">
                            <true>
                                <repeat group="{{ @courses }}" value="{{ @course }}">
                                    <tr>
                                        <td class="clickableCourse d-none">{{ @course->getCourseId() }}</td>
                                        <td class="clickableCourse">{{ @course->getCourseNumber() }}</td>
                                        <td class="clickableCourse">{{ ucfirst(@course->getQuarter()) }}</td>
                                        <td class="clickableCourse">{{ @course->getInstructor() }}</td>
                                        <td width="2" class="text-center" onclick="confirmDeleteCourse( 
                                                                                    {{ @course->getCourseId() }}, 
                                                                                    '{{ @course->getCourseNumber() }}')"><i class="fa fa-minus-circle"></i></td>
                                    </tr>
                                </repeat>
                            </true>
                            <false>
                                <td colspan="5" class="text-center"><em>No Courses Currently Assigned To This Project</em></td>
                            </false>
                        </check>
                    </tbody>
                </table>
            </div>
        </div>
        <p class="text-right">
            <a class="btn gr-btn" href="{{ @BASE }}/new-class/{{ @projectID }}" role="button">Add Class</a>
        </p>

		<include href="/views/footer.html"></include>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="{{ @BASE }}/javascripts/route.js"></script>
    <script src="{{ @BASE }}/javascripts/format-phone-number.js"></script>
</body>
</html>