<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="icon" href="images/favicon.ico">

    <link rel="stylesheet" type="text/css" href="{{@BASE}}/styles/nav.css">
    <link rel="stylesheet" type="text/css" href="{{@BASE}}/styles/form.css">
    <link rel="stylesheet" type="text/css" href="{{@BASE}}/styles/state.css">

    <title>Green River Software Development Project Portal</title>
</head>
<body>
    <include href="./views/nav.html">


    <pre>
        {{ print_r(@course) }}
    </pre>

    <div class="container">
        <!-- This is a template for the project summary -->
        <!-- If you are viewing this, then you are on a development file! -->
        <!-- This is phony data... -->
        <div class="row">
            <div class="col-12">
                <h1 class="display-3 text-center">{{ @project->getProjectTitle() }}</h1>
                <hr>
            </div>
            <div class="col-12">
                <!-- Project Description -->
                <p class="lead">{{ @project->getDescription() }}</p>
                <hr>
            </div>
        </div>
        <p class="text-right">
            <span>Status: <strong class="{{ @project->getStatus() }}">{{ ucfirst(@project->getStatus()) }}</strong></span> &nbsp;
            <a class="btn gr-btn" href="#" role="button">Edit Project Information</a>
        </p>
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <h2 class="text-center">Organization</h2>
                <table class="table table-sm">
                    <tbody>
                        <tr>
                            <th>Company</th>
                            <td class="lead">{{ @client->getCompanyName() }}</td>
                        </tr>
                        <tr>
                            <th>Website</th>
                            <td><a href="{{ @client->getWebsite() }}">{{ @client->getWebsite() }}</a></td>
                        </tr>
                        <tr>
                            <th>Address</th>
                            <td>{{ @client->getStreetAddress() }}, {{ @client->getState() }}, {{ @client->getPostalCode() }}</td>
                        </tr>
                    </tbody>
                </table>
            </div> 
            <div class="col-lg-5">
                <h2 class="text-center">Contact</h2>
                <table class="table table-sm">
                    <tbody>
                        <tr>
                            <th>Name</th>
                            <td class="lead">{{ @client->getClientName() }}</td>
                        </tr>
                        <tr>
                            <th>Title</th>
                            <td>{{ @client->getJobTitle() }}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td><a href="mailto:{{ @client->getEmail() }}" target="_top">{{ @client->getEmail() }}</a></td>
                        </tr>
                        <tr>
                            <th>Phone Number</th>
                            <td>{{ @client->getPhoneNumber() }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>    
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <h2 class="text-center">Course List</h2>
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Course ID</th>
                            <th scope="col">Quarter</th>
                            <th scope="col">Instructor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <repeat group="{{ @courses }}" value="{{ @course }}">
                            <tr>
                                <td>{{ @course->getCourseId() }}</td>
                                <td>{{ @course->getQuarter() }}</td>
                                <td>{{ @course->getInstructor() }}</td>
                            </tr>
                        </repeat>
                    </tbody>
                </table>
            </div>
        </div>
        <p class="text-right">
            <a class="btn gr-btn" href="{{ @BASE }}/new-class/{{ @projectID }}" role="button">Add Class</a>
        </p>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script type="text/javascript" src="./javascripts/show-password.js"></script>
</body>
</html>