<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="icon" href="images/favicon.ico">

    <link rel="stylesheet" type="text/css" href="./styles/nav.css">
    <link rel="stylesheet" type="text/css" href="./styles/form.css">

    <title>Green River Software Development Project Portal</title>
</head>
<body>
    <include href="./views/nav.html">
    <div class="container">
        <form action='./' method="POST">
            <div class="row">
                <div class="col-12">
                    <fieldset>
                        <legend>Class Information</legend>
                        <div class="row">
                            <div class="form-group col-md-5 col-lg-2">
                                <label for="courseID">Course ID</label>
                                <input type="text" class="form-control" name="courseID" id="courseID">
                            </div>
                            <div class="form-group col-md-4 col-lg-3">
                                <label for="quarter">Quarter</label>
                                <select class="form-control" name="quarter" id="quarter">
                                    <option>--Select--</option>
                                    <option value="fall">Fall</option>
                                    <option value="winter">Winter</option>
                                    <option value="spring">Spring</option>
                                    <option value="summer">Summer</option>
                                </select>
                            </div>
                            <div class="form-group col-md-3 col-lg-2">
                                <label for="year">Year</label>
                                <input type="number" class="form-control" min="2000" max="{{ date('Y') + 1 }}" step="1" value="{{ date('Y') }}" name="year" id="name">
                            </div>
                            <div class="form-group col-md-12 col-lg-5">
                                <label for="instructor">Instructor</label>
                                <input type="text" class="form-control" name="instructor" id="instructor">
                            </div>
                        </div>
                    </fieldset>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <fieldset>
                                <legend>Links</legend>
                                <div class="form-group">
                                    <label for="github">Github</label>
                                    <input type="url" class="form-control" name="github" id="github">
                                </div>
                                <div class="form-group">
                                    <label for="trello">Trello</label>
                                    <input type="url" class="form-control" name="trello" id="trello">
                                </div>
                                <div class="form-group">
                                    <label for="url">URL</label>
                                    <input type="url" class="form-control" name="url" id="url">
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            <fieldset>
                                <legend>Login credentials</legend>
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input type="text" class="form-control" name="username" id="username">
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" name="password" id="password">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="show-password" onclick="showPassword()">
                                        <label for="show-password" class="form-check-label">Show Password</label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <fieldset class="col-12">
                            <legend>Instructor's Notes</legend>
                            <textarea class="form-control" rows="5" name="notes" id="notes"></textarea>
                        </fieldset>
                    </div>
                </div>
            </div>
            <br>
            <input type="submit" class="btn gr-btn" name="submit" value="Submit">
        </form>
        <hr>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script type="text/javascript" src="./javascripts/show-password.js"></script>
</body>
</html>